.modal {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.6);

  opacity: 0;
  visibility: hidden;

  transition:
          opacity 0.3s ease,
          visibility 0.3s ease;

  z-index: 1000;

  &.modal-active {
    opacity: 1;
    visibility: visible;
  }


  &__content {
    min-width: 320px;
    max-width: 600px;

    padding: 30px;

    background: #1e1e1e;
    color: #fff;

    border-radius: 16px;
    border: 2px solid #ffd700;

    box-shadow:
            0 10px 30px rgba(0, 0, 0, 0.5),
            inset 0 0 15px rgba(255, 215, 0, 0.15);

    transform: translateY(-20px) scale(0.95);

    transition: transform 0.3s ease;
  }

  &.modal-active &__content {
    transform: translateY(0) scale(1);
  }
}